/**********************************************
*** TOP PART
**********************************************/

.top {
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../images/back.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.container {
  width: 350px;
  margin: auto;
  padding-top: 30px;
  color: #fff;
}

.title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}

.value {
  font-weight: 300;
  font-size: 46px;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
