.income,
.expenses {
  padding: 12px;
  text-transform: uppercase;
}

.income {
  margin-bottom: 10px;
  background-color: #28b9b5;
  display: flex;
  justify-content: space-between;
}

.expenses {
  background-color: #ff5049;
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 13px;
  color: #444;
  margin-top: 2px;
}

.value {
  letter-spacing: 1px;
}

.percentage {
  width: 34px;
  font-size: 11px;
  padding: 3px 0;
  margin-left: 10px;
}

.expenses--percentage {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 3px;
}
