.item {
  padding: 13px;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item:first-child {
  border-top: 1px solid #e7e7e7;
}
.item:nth-child(even) {
  background-color: #f7f7f7;
}

.value {
  transition: transform 0.3s;
}

.percentage {
  float: left;
  margin-left: 20px;
  transition: transform 0.3s;
  font-size: 11px;
  background-color: #ffdad9;
  padding: 3px;
  border-radius: 3px;
  width: 32px;
  text-align: center;
}

.income .value,
.income .delete--btn {
  color: #28b9b5;
}

.expenses .value,
.expenses .percentage,
.expenses .delete--btn {
  color: #ff5049;
}

.delete {
  float: left;
}

.delete--btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  display: none;
}

.delete--btn:focus {
  outline: none;
}
.delete--btn:active {
  transform: translateY(2px);
}

.item:hover .delete--btn {
  display: block;
}
.item:hover .value {
  transform: translateX(-20px);
}
.item:hover .percentage {
  transform: translateX(-20px);
}

.date {
  width: 100%;
  font-size: 13px;
  color: #dadada;
}
